@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.btn{
  background-color: rgb(8, 129, 18); /* Green */
  border: none;
  text-align: center;
  border-radius: 8px;
  padding: 14px 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
  color: #fff;
}
.btn:hover { background-color: #0a0000; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { 
	height:100%;
}

body {
	width: 100%;
	min-height: 100%;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	background: #391c5d;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );

}

.login {
	background-color:rgba(119, 118, 118, 0.2) ;
	position: absolute;
	top: 30%;
	left: 33%;
	margin: -150px 0 0 -150px;
	padding:50px;
	width:800px;
	height:auto;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

form {
	display:flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}

textarea {
	color:#0a0000;
	width: 600px;
	margin-bottom: 10px;
	background: whitesmoke;
	border: none;
	outline: none;
	padding: 15px;
	font-size: 15px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;

}
.resizedTextbox {width: 500px; height: 100px}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }